@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-black text-foreground;
  }

  :root {
    --background: 0 0% 0%;
    --foreground: 210 40% 98%;
    --card: 0 0% 4%;
    --card-foreground: 210 40% 98%;
    --popover: 0 0% 4%;
    --popover-foreground: 210 40% 98%;
    --primary: 217 91.2% 59.8%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 12%;
    --secondary-foreground: 210 40% 98%;
    --muted: 0 0% 12%;
    --muted-foreground: 217.9 10.6% 64.9%;
  }
}